<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Ningbo Qishan Technology Co., Ltd
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.group.purchase.order.dao.LineSortingOrderGoodsMapper">
    <resultMap id="BaseResultMap" type="com.mds.group.purchase.order.model.LineSortingOrderGoods">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="line_sorting_order_goods_id" jdbcType="INTEGER" property="lineSortingOrderGoodsId"/>
        <result column="line_sorting_order_id" jdbcType="INTEGER" property="lineSortingOrderId"/>
        <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
        <result column="activity_type" jdbcType="INTEGER" property="activityType"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="goods_image" jdbcType="VARCHAR" property="goodsImage"/>
        <result column="act_goods_price" jdbcType="VARCHAR" property="actGoodsPrice"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="goods_totle_sum" jdbcType="INTEGER" property="goodsTotleSum"/>
    </resultMap>
</mapper>