<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Ningbo Qishan Technology Co., Ltd
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.group.purchase.shop.dao.ManagerMapper">
    <resultMap id="BaseResultMap" type="com.mds.group.purchase.shop.model.Manager">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="enterprise_pay_state" jdbcType="BIT" property="enterprisePayState"/>
        <result column="expiry_date_notify" jdbcType="BIGINT" property="expiryDateNotify"/>
        <result column="expiry_date" jdbcType="TIMESTAMP" property="expiryDate"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="mch_id" jdbcType="VARCHAR" property="mchId"/>
        <result column="mch_key" jdbcType="VARCHAR" property="mchKey"/>
        <result column="certificate_path" jdbcType="VARCHAR" property="certificatePath"/>
        <result column="mini_name" jdbcType="VARCHAR" property="miniName"/>
        <result column="version_subscript" jdbcType="VARCHAR" property="versionSubscript"/>
        <result column="mini_code" jdbcType="VARCHAR" property="miniCode"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="bpavawice" jdbcType="DECIMAL" property="bpavawice"/>
        <result column="flag" jdbcType="BIT" property="flag"/>
        <result column="del_state" jdbcType="INTEGER" property="delState"/>
    </resultMap>
</mapper>