<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Ningbo Qishan Technology Co., Ltd
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.group.purchase.order.dao.RefundBillMapper">
    <resultMap id="BaseResultMap" type="com.mds.group.purchase.order.model.RefundBill">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="refund_id" jdbcType="BIGINT" property="refundId"/>
        <result column="pay_refund_id" jdbcType="VARCHAR" property="payRefundId"/>
        <result column="out_refund_id" jdbcType="VARCHAR" property="outRefundId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="fee" jdbcType="DECIMAL" property="fee"/>
        <result column="success" jdbcType="BIT" property="success"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>


</mapper>